langchain
langchain-core
qdrant-client
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-qdrant
fastapi[standard]
python-dotenv
gunicorn
uvicorn
langchain-openai
starlette
pypdf
flashrank